<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>bookServlet</servlet-name>
    <servlet-class>com.trivadis.books.server.ServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>bookServlet</servlet-name>
    <url-pattern>/books/bookStore</url-pattern>
  </servlet-mapping>
  
  <!-- Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.trivadis.books.server.BooksConfiguration</param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Books.html</welcome-file>
  </welcome-file-list>

</web-app>
