/** Add css rules here for your application. */
/** Add css rules here for your application. */

:root {
  --screenWidth: 1920px;
}

.title {
	color: yellow;
	font-size: 70px;
	font-family:cursive;
	background-color: blue;	
	text-align: center;
}

.buttonAdd {
	background-color:grey;	
	color: black;
	margin-right: 5%;
	margin-left: 5%;
	
}

.buttonUpdate {
	background-color:grey;	
	color: black;
	margin-right: 5%;
	margin-left: 5%;
}

.buttonbar {
	background-color: blue;	
	color: blue;	
	text-align: center;
}

.content {
	font-family:cursive;
	background-color: white;	
	text-align: center;
}

.scrollTable{
	text-align: center;
	background-color: white;	
	width: 100%;

}

}
