/** Add css rules here for your application. */
/** Add css rules here for your application. */

:root {
  --screenWidth: 1920px;
}

.title {
	color: yellow;
	font-size: 70px;
	font-family:cursive;
	background-color: blue;	
	text-align: center;
}

.label {
	color: black;
	font-size: 16px;
	font-family:cursive;
	margin-right: 0%;
	margin-left: 0%;
	background-color: green;	
	
}

.button {
	background-color:grey;	
	color: black;
	font-size: 20px;
	margin-right: 5%;
	margin-left: 5%;
	
}


.textInput{
	color: black;
	font-size: 16px;
	font-family:cursive;
	margin-right: 0%;
	margin-left: 5%;
	background-color: white;	
}


.buttonbar {
	background-color: blue;	
	color: blue;	
	text-align: center;
}

.filters {
	background-color: green;	
	color: green;	
	text-align: center;
}

.content {
	font-family:cursive;
	background-color: white;	
	text-align: center;
	font-size: 20px;
	
}

.scrollTable{
	text-align: center;
	background-color: white;	
	width: 100%;

}
}
